annotated-types
blinker
cachetools
certifi
charset-normalizer
click
colorama
dotenv
Flask
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
grpcio
grpcio-status
httplib2
idna
itsdangerous
Jinja2
MarkupSafe
pillow
proto-plus
protobuf
psycopg-binary
psycopg2-binary
pyasn1
pyasn1_modules
pydantic
pydantic_core
PyMuPDF
pyparsing
python-dotenv
requests
rsa
tqdm
typing-inspection
typing_extensions
uritemplate
urllib3
Werkzeug
